<!-- Footer-->
<nav class="navbar bottom  bg-dark navbar-dark">
  <div class="container-fluid ">
    <a class="navbar-brand navbar-text" href="#">©Aarrav Bala2025. All Rights Reserved</a>
  </div>
</nav>